@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  width: auto;
  height: auto;
  font-family: "Quicksand";
  color: #fff;
  background-color: #333;
  box-sizing: border-box;
  margin: auto;
  max-width: 960px;
}
.home h1 {
  color: #02be60
}
.title {
  color: #02be60;
  font-size: 30px;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #00d66b;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #00d66b;
}
.mini-nav {
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  border-bottom: 1px solid #f2f2f2;

}
.mini-nav a {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  padding: 6px;
  font-size: 13px;
}
.mini-nav a:hover {
  color: #00d66b
}
.content {
  max-width: 960px;
  margin: 40px auto;
  margin-top: 0px;
  padding: 20px;
  padding-top: 0px;
}
.content p {
  padding: 2px
}
.driver-list h1 {
  color: #02be60;
  font-size: 25px;
}
.content h2 {
  color: #00d66b
}
.driver-info {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(31, 31, 31);
}
.driver-info:hover {
  box-shadow: 4px 7px 9px 4px rgba(0, 255, 115, 0.1);
}
.driver-info h2 {
  font-size: 20px;
  color: #00d66b;
  margin-bottom: 8px;
}

.driver-info a{
  text-decoration: none;
}

.driver-details h2 {
  font-size: 20px;
  color: #00d66b;
  margin-bottom: 10px;
}

.driver-details div {
  margin: 20px 0;
}
.create {
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #00d66b;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #333;
  color: #fff;
  border: 2px solid #00d66b;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.create button:hover {
  background: #00ff8056;
  color: #fff;
  border: 2px solid #00d66b;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.create-button {
  background: #333;
  color: #fff;
  border: 2px solid #00d66b;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.create-button:hover {
  background: #00ff8056;
  color: #fff;
  border: 2px solid #00d66b;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.standings {
  table-layout: fixed;
  border-collapse: collapse;
}
.standings th {
  padding-left: 4px;
  padding-right: 4px;
}
.standings tr, td {
  border-bottom: 1px solid white;
}
.standings th, td {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}
.standings tr:hover td {
  color: #00d66b;
}
.standings tr:hover a {
  color: #00d66b
}
#team {
}
.content a {
  text-decoration: none;
}
.headlines {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(31, 31, 31);
}
.headlines:hover {
  box-shadow: 4px 7px 9px 4px rgba(0, 255, 115, 0.1);
}
.headlines h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 8px;
}
.headlines a {
  text-decoration: none;
}
.team-page img, h1 {
  display: inline;
}
.team-page img {
  padding-right: 50px;
}
.matches {
  text-align: center;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(31, 31, 31);
  border-right: 1px solid rgb(31, 31, 31);
}
.score {
  font-size: 25px;
}
.matches:hover {
  box-shadow: 4px 7px 9px 4px rgba(0, 255, 115, 0.1);
}
.matches:hover p {
  color:#00d66b
}
.ucl-groups {
  padding: 30px
}
.ucl-groups h2 {
  text-align: center;
  font-size: 20px;
}
.table {
  align-items: center;
}
.table h2 {
}